/* Add a black background color to the top navigation */
.topnav {
    background-color: #46a7e2;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 5%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background: linear-gradient(#46a7e2, #4ebfff, #46a7e2);
    color: #ffffff;
}

/* Add a color to the active/current link  */
.active {
    background: linear-gradient(#46a7e2, #4ebfff, #46a7e2);
    color: #ffffff;
}